.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  background-color: white;
  padding: 0; }

.card-container {
  max-width: 400px;
  max-height: 700px;
  border: 1px solid #222222; }

.card {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 220px 60px auto 30px 70px; }

.card .card-cabecera {
  grid-row: 1;
  grid-column: 1; }

.card .card-titulo {
  grid-row: 2;
  grid-column: 1; }

.card .card-cuerpo {
  grid-row: 3;
  grid-column: 1; }

.card .card-published {
  grid-row: 4;
  grid-column: 1;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-end; }

.card .card-pie {
  grid-row: 5;
  grid-column: 1;
  display: flex;
  flex: 1; }

.imagen-cabecera {
  max-width: 100%; }

.titulo {
  font-size: 2em;
  padding: 10px;
  padding-top: 20px; }

.cuerpo {
  font-size: 1em;
  padding: 10px;
  padding-top: 20px; }

.cuerpo {
  font-size: 1em;
  padding: 10px;
  padding-top: 20px; }

.published-label {
  font-size: 1em;
  font-weight: bold;
  padding: 0; }

.published-date {
  font-size: 1em;
  color: limegreen;
  padding: 0;
  padding-left: 5px;
  padding-right: 10px; }

.pie {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.25em;
  color: white;
  background-color: limegreen;
  margin: 10px;
  padding: 0;
  flex: 1; }

.pie:link {
  text-decoration: none; }

.pie:active {
  text-decoration: none; }

.pie:hover {
  text-decoration: none; }

.pie:visited {
  text-decoration: none; }
