.container-1 {
  display: inline-flex;
  flex-direction: column; }

.box {
  margin: 10px;
  padding: 10px;
  height: 3em; }

.box-item {
  color: black;
  border: 1px solid darkgray; }

.box-item:nth-child(1) {
  background-color: blue; }

.box-item:nth-child(2) {
  background-color: midnightblue; }

.box-item:nth-child(3) {
  background-color: deepskyblue; }

.box-item:nth-child(4) {
  border: 0px; }

.box-item:nth-child(5) {
  box-shadow: 10px 10px 20px black; }

.box-item .text-item {
  font-family: Arial, Helvetica, sans-serif; }

.box-item .text-item.secondary {
  font-family: Arial, Helvetica, sans-serif; }
