.container {
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
}

.imagen {
  max-width: 80px;
  max-height: 80px;
  margin: 0em 1em;
}

.boton {
  align-self: center;
}

.seleccionada {
  border-bottom: 2px solid red;
}
