<div class="container">
  <!-- Este button tiene un atributo "appRotate" que sólo funciona si en la definición
       de la directiva "appRoute" se permiten elementos distintos de "img"; si no,
       no tiene efecto -->
  <button
    [disabled]="!PuedeCargarPaginaAnterior"
    class="boton"
    (click)="cargarPaginaAnterior()"
    appRotate="-45"
  >
    Anterior
  </button>
  <img
    *ngFor="let imagen of imagenes | slice:desdeImagenIncluida:hastaImagenNoIncluida"
    [src]="imagen.src"
    class="imagen"
    [ngClass]="{
      'seleccionada': imagenes[ImagenSeleccionada] === imagen
    }"
    (click)="seleccionarImagen(imagen)"
  />

  <button
    [disabled]="!PuedeCargarPaginaSiguiente"
    class="boton"
    (click)="cargarPaginaSiguiente()"
  >
    Siguiente
  </button>
</div>
