.container-1 {
  display: flex; }

.box {
  margin: 10px;
  padding: 10px;
  border-radius: 4px; }

.base-color {
  background-color: #0000ff; }

.lighten-1 {
  background-color: #2626ff; }

.lighten-2 {
  background-color: #4d4dff; }

.lighten-3 {
  background-color: #7373ff; }

.lighten-4 {
  background-color: #9999ff; }

.darken-1 {
  background-color: #0000d9; }

.darken-2 {
  background-color: #0000b3; }

.darken-3 {
  background-color: #00008c; }

.darken-4 {
  background-color: #000066; }

.box.base-color .color-box-text {
  color: white; }

.color-box-text {
  color: gray; }
