.container-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: steelblue;
}

@media screen and (max-width:640px){ 
    .container-1 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        background-color: steelblue;
    }
}

body {
    padding: 0;
}

.box {
    padding: 10px;
    cursor: default;
}

.unselected {
    background-color: steelblue;
}

.selected {
    background-color: midnightblue;
}

.text-item {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 20;
    color: white;
}

#title {
    font-size: 30;
    font-weight: bold;
    margin-bottom: 0.5em;
}
