<div class="container">
  <button
    [disabled]="!PuedeCargarAnterior"
    mat-raised-button
    color="primary"
    (click)="cargarAnterior()"
  >
    Anterior
  </button>
  <button
    [disabled]="!PuedeCargarSiguiente"
    mat-raised-button
    color="primary"
    (click)="cargarSiguiente()"
    class="boton-no-izquierda"
  >
    Siguiente
  </button>
  <button
    mat-raised-button
    color="accent"
    (click)="aumentarImagen()"
    class="boton-no-izquierda"
  >
    Aumentar
  </button>
  <button
    mat-raised-button
    color="accent"
    (click)="disminuirImagen()"
    class="boton-no-izquierda"
  >
    Disminuir
  </button>
  <button
    *ngIf="IsPlaying"
    mat-raised-button
    color="warn"
    (click)="pararReproduccion()"
    class="boton-no-izquierda"
  >
    Stop
  </button>
  <button
  *ngIf="!IsPlaying"
    mat-raised-button
    color="warn"
    (click)="empezarReproduccion()"
    class="boton-no-izquierda"
  >
    Play
  </button>
</div>
