.container-1 {
    display: inline-flex;
    flex-direction: column
}

.box {
    margin: 10px;
    padding: 10px;
    height: 3em;
}

.box-item {
    color:black;
    border: 1px solid darkgray;
}

.box-item:nth-child(1) {
    background-color: red;
}

.box-item:nth-child(2) {
    background-color: maroon;
}

.box-item:nth-child(3) {
    background-color: lightcoral;
}

.box-item:nth-child(4) {
    border: 0px;
}

.box-item:nth-child(5) {
    box-shadow: -10px 10px 20px black;
}

.text-item {
    font-family: Arial, Helvetica, sans-serif;
}

.text-item.secondary {
    font-family: "Times New Roman", Times, serif;
}
