$base-color: #0000ff;

$ratio: 15%;

.container-1 {
    display: flex;
}

.box {
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
}

.base-color {
    background-color: $base-color;
}

@for $i from 1 through 4 {
    .lighten-#{$i} {
        background-color: scale-color($base-color, $lightness: $i * $ratio);
    }
}

@for $i from 1 through 4 {
    .darken-#{$i} {
        background-color: scale-color($base-color, $lightness: -$i * $ratio);
    }
}

.box.base-color .color-box-text {
    color:white;
}

.color-box-text {
    color:gray;
}
